@font-face {
    font-family: 'flaticonregular';
    src: url('../fonts/flaticon-webfont.eot');
    src: url('../fonts/flaticon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flaticon-webfont.woff2') format('woff2'),
         url('../fonts/flaticon-webfont.woff') format('woff'),
         url('../fonts/specimen_files/') format('truetype');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;   
}


.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 80px;
    padding: 0 90px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    gap: 50px;
    margin-right: 50px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #393AB7;
    transition: color 0.5s;
}

   
.nav-title{
    color: white;
    font-family: 'flaticonregular';
}
.fullbox{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-title{
    text-transform: uppercase;
}
.background{
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/welcome-hero/welcome-banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: blur(2px);
}

.background-content{
    color: #fff;
    text-align: center;
    margin-top: 200px;
}
.background-content > h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.background-content > p{
    font-size: 20px;
    margin-top: 50px;
}
.background-content > button{
    background-color:#393AB7;
    color: white;
    padding: 20px 80px;
    font-size: 20px;
    border: none;
    margin-top: 30px;
}
.background-content > button:hover{
    background-color: blue;
    transition: background-color 0.5s;
}
.form{
    margin:40px 50px 0 70px;
    background-color: white;
    width: 1200px;
    height: 200px;
    box-shadow: 0 0 15 0 gray;
    margin-top: 50px;
    border-radius: 5px;
}

.row1, .row2{
    display: flex;
    justify-content: space-between;
}
.form-section{
    display: flex;
    justify-content: space-between;
}
.feature{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 100px 100px;
    margin-top: 100px;
}
.box{
    width: 350px;
    height: 380px;
    border: 1px solid lightgray;
    border-radius: 5px;
    
}
.box:hover{
    color: #fff;
    background-color: #4eeefa;
}
.feature-icon{
    font-size: 60px;
    color: gray;
    text-align: center;
    padding-top: 80px;
}

.feature-title{
    text-align: center;
    color: rgb(72, 72, 72);
    padding-top: 20px;
}

.feature-text{
    text-align: center;
    color: gray;
    padding: 0 15px;
}
.line{
    font-size: 30px;
    font-weight: bolder;
    color: #2424d6;
    text-align: center;

}

/* Newest Car */

.newest-car{
    background-color: rgb(247, 247, 247);
}
.checkout{
    text-align: center; 
}
.newestcar-text> div > h1{
    margin-top: 0;
}
.checkout> h1{
    margin-top: 0;
    font-size: 40px;
}
.car-segment{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.newestcar-text{
    padding: 0 120px;
    text-align: left;
}

.newest-car-content{
    padding: 100px 20px;
    color: #444A57;
}
.newestcar-text> div > p{
    line-height: 1.9;
}

.newestcar-text > button{
    color: white;
    font-size: 17px;
    background-color: #1818ca;
    padding: 20px 45px;
    border: none;
    border-radius: 3px;
}
.newestcar-text > button:hover{
    background-color: blue;
    cursor: pointer;
    transition: background-color 0.5s;
}

/* Featured Cars */

.featured-title{
    text-align: center;
    margin-top: 100px;
}
.featured-title>h1{
    font-size: 40px;
    margin-top: 0;
    color: #444A57;
}

.car-box{
    width: 280px;
    border: 1px solid lightgray;
}
hr.solid {
    border-top: 1px solid lightgray;
  } 

  .car-box>img{
    padding: 20px 10px;
  }
  .car-box>div{
    padding: 10px 5px;
    color: gray;
  }

  .featured-cars{
    width: 280px;
  }

  .featured-cars > div > h4{
    color: rgb(103, 103, 103);
  }
  .featured-cars > p{
    color: gray;
    text-align: left;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 1px;
  }

  .featured-category1{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0 50px;
  }

  .featured-category2{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 50px;
  }


  /* Client Segment */

.client-part{
   background-color: #F8F9FB;
   margin-top: 100px;

}

.client-content-box{
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    padding-bottom: 150px;

}

.client-part > div> h1{
    color: #444A57;
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
}

.client{
    width: 350px;
    height: 380px;
    border: 1px solid lightgray; 
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin-top: 100px;
}

.client:hover{
    background-color: rgb(28, 28, 209);
    transition: background-color 0.5s;
}
.client > div > p{
    color: rgb(154, 153, 153);
    line-height: 1.6;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 10px;
}

.client > div > h4{
    text-align: center;
    letter-spacing: 1.4;
    color: rgb(97, 97, 97);
    
}

/* Brands */

.brands{
    display: flex;
    justify-content: space-between;
    padding: 80px 120px;
}

/* Footer */

.footer{
    background-color: #2A2D54;
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
    gap: 120px;
}
.footer > div > div, h2, p, h4 {
    color: #fff;
}
.footer-logo{
    width: 300px;
}
.footer > div > p {
    line-height: 1.6;
}
.footer > div > div{
    line-height: 2.5;
    font-size: medium;
    color: #b3b1b1;
}

.footer > .input> p{
    color: #b3b1b1;
}

.input> input{
    background-color: #26294D;
    font-size: 14px;
    padding: 15px 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #111327;
    cursor: text;
}

